.AdminManagerHome{
    background-image: url("F:\HealthyCraftyBites\HealthyCraftyBites_UI\src\layout_pages\layout_pages_images\admin_manager_home_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

