.FeatureNavbar{
    font-family: 'Urbanist', sans-serif;
}

.gold-link{
  color:#f1b8ff;
  font-size: 17px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
   text-shadow: 1px 2px 3px #000000;
}

.gold-link:hover {
  color:#ffd700;
}