.IngredientForm{
    background-color: rgba(82, 0, 110, 0.65);
    border-radius: 20px;
    filter: drop-shadow(3px 3px 3px black);
}

.formHeading{
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    text-shadow: 1px 2px 4px #000000;
}

.form-label{
    font-family: 'Urbanist', sans-serif;
    font-size: 15.5px;
    color: white;
    text-shadow: 1px 2px 4px #000000;
}

.IngredientForm input[type="text"],
.IngredientForm input[type="file"],
.IngredientForm select.form-select,
.IngredientFormtextarea.form-control{
    color: #290133; 
    background-color:#f1b8ff; 
    filter: drop-shadow(1px 1px 2px black);
}

button[type="submit"]:hover {
    color: #740296;
    background-color: #EBECFF;
}

#AddIngredientBtn{
    letter-spacing: 3px;
    border-radius: 50px;
    color: #EBECFF;
    background-color:#400152;
    border:3px solid #EBECFF;
    text-shadow: 1px 2px 2px #000000;
    filter: drop-shadow(2px 2px 3px black);
}

.toastBox {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: 'Urbanist', sans-serif;
    background-color: greenyellow;
    color:black;
    padding: 15px 20px;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px black);
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 1000;
}

.toastBox button {
    font-size: 18px;
}